<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>{{title}}</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel='stylesheet' type='text/css' media='screen' href='/css/default.css'>
	<link rel='stylesheet' type='text/css' media="screen" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/index.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/login.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
	{{!-- Header --}}
	<div class="page">
	<header>
		<nav class="nav-container">
			<ul class="top-navigation-bar">
				<div class="navigation-select">
					<a href="/"><img src="/img/logo1.png" alt="Amazon-logo" class="logo"> </a>
					<li><input type="text" placeholder="Search " class="top-search hide-content"></li>
				</div>

				<div class="navigation-select ">


					<li class="dropdown">
						<button class="dropbtn hide-content">Login</button>
						<div class="dropdown-content">
							<a href="/login">Log In</a>
							<a href="/sign-up">Sign Up</a>
							<a href="/">My Profile</a>
							<a href="/">Wishlist</a>
							<a href="/">Rewards </a>
						</div>
					</li>
					<li class="dropdown">
						<button class="dropbtn hide-content">More
							<span class="material-icons arrow">keyboard_arrow_down</span>
						</button>
						<div class="dropdown-content">
							<a href="/">Sell on Amazon</a>
							<a href="/">24*7 Customer Care</a>
							<a href="/">Advertise</a>
						</div>
					</li>
					<li class="dropdown ">
						<a class="dropbtn" href="">
							<span class="material-icons">
								shopping_cart
							</span> <span class="hide-content"> Cart </span></span>
						</a>
					</li>
					<li class="dropdown show-content" id="menu">
						<div class="dropbtn" href="">
							<span class="material-icons">
								menu
							</span>
						</div>
					</li>
				</div>
			</ul>
			<ul class="show-content">
				<div class="bottom-search">
				<li><input type="text" placeholder="Search Here " class="top-search "></li>
				</div>
			</ul>	
		</nav>
	</header>
	<div class="side-menu" id= "sideMenu">
		<ul>
			<li class="side-menu-list"><a href ="/login">Log In</a></li>
			<li class="side-menu-list"><a href="/sign-up">Sign Up</a></li>
			<li class="side-menu-list" >My Profile </li>
			<li class="side-menu-list">My Wishlist</li>
			<li class="side-menu-list">Sell on Amazon</li>
			<li class="side-menu-list">24*7 Customer Car</li>
			<li class="side-menu-list">Rewards</li>
		</ul>
	</div>
	


	{{!-- Main Body of all the website. --}}
	<main>
		{{{body}}}
	</main>


	{{!-- Footer --}}
	<footer>
		<section>
			<nav>
				<ul class="container-footer">
					<li class="footer-elements">
						<ul>
							<li>
								<h2>Get to Know Us</h2>
							</li>
							<li><a href="/">About Us</a></li>
							<li><a href="/">Careers</a></li>

							<li><a href="/">Investor Relations</a></li>
							<li><a href="/">Press Release</a></li>
						</ul>
					</li>
					<li class="footer-elements">
						<ul>
							<li>
								<h2>Make Money with Us</h2>
							</li>
							<li><a href="/">Sell on Amazon</a></li>
							<li><a href="/">Sell Under Amazon Accelerator </a></li>
							<li><a href="/">Amazon Associates</a></li>
							<li><a href="/">Sale on Amazon Handmade</a></li>
							<li><a href="/">Advertise Your Product</a></li>
							<li><a href="/">Independtly Publish with Us</a></li>
						</ul>
					</li>

					<li class="footer-elements">
						<ul>
							<li>
								<h2>Let Us Help You</h2>
							</li>
							<li><a href="/">Amazon.ca Rewards Mastercard</a></li>
							<li><a href="/">Shiping Rate and Policies</a></li>
							<li><a href="/">Amazon Prime</a></li>
							<li><a href="/">Returns are Easy</a></li>
							<li><a href="/">Customer Services</a></li>

						</ul>
					</li>
					<li class="footer-elements">
						<ul>
							<li>
								<h2>Connect with Us</h2>
							</li>
							<li><a href="https://www.facebook.com/Amazon/">Facebook</a></li>
							<li><a href="https://twitter.com/amazon/">Twitter</a></li>
							<li><a href="https://www.instagram.com/amazon/?hl=en">Instagram</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</section>

		<section>
			<nav>
				<ul class="bottom-footer">
					<li>
						<p>&copy;2008-2020 Amazon.com.All rights are reserved.</p>
					</li>
					<li>
						<nav>
							<ul>
								<li class="item-inline"><a href="/">Privacy Policy |</a> </li>
								<li class="item-inline"><a href="/">Cookies Policy |</a></li>
								<li class="item-inline"><a href="/">Terms and Conditions</a></li>
							</ul>
						</nav>
					</li>
				</ul>
			</nav>
		</section>

	</footer>
	<script src='/js/main.js'></script>
	</div>
</body>

</html>