<section class="login-form">
    <img src="/img/fireworks.gif">
    <div class = "welcome">
    <h1>Welcome To Amazon </h1>
    <h1>Enjoy your shopping time with us.</h1>
    </div>
    
    
</section>