<section>
    <div class="banner-image">
        <img  src="/img/main-banner.jpg" alt="Banner Image">
            <h2 class="banner-heading">helo</h2>
    </div>
    <h2 class="heading">Best Seller</h2>
    

    <section class="product-container">

        {{#each products}}
        <article class="product-category">
           
           
                <img src="/img/{{this.image}}" alt="Product Category ">
                <h2 class = "product-heading">{{this.name}}</h2>
        
             
        </article>
        {{/each}}

    </section>
</section>