.description-container{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 2em;
    
}

.description-container img{
    width: 350px;
}

.description-container article{
    margin-left: 2em;
    width: 20em;
}
.cart-image{
    width : 70px !important
}
.amount{
    text-align: center;
}
.order-button{
  background-color:green;
  color: wheat;
width: 20%;
}