html {
	box-sizing: border-box;
	font-size: 1.0em;

}
*, *::before, *::after {
	box-sizing: inherit;
	font-family: inherit;
	font-size: inherit;
}
body {
	margin: 0;
	line-height: 1.25;
	background-color: #fff;
	color: #222;
	font-family:'Montserrat','Roboto', sans-serif;
	
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
 ul, ol {
	list-style: none;
	padding-left: 0;
}
ul.list {
	list-style: disc;
	padding-left: 2em;
}
ol.list {
	list-style: decimal;
	padding-left: 2em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1em; }
h6 { font-size: 0.8em; }
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
	margin: 1rem 0;
	color: black;
}
input, textarea, button {
	border-image: none;
	border-style: solid;
	border-width: thin;
	border-color: #aaa;
	vertical-align: middle;
	font-size: inherit;
	font-family: inherit;

}

[type="checkbox"], [type="radio"] {
	vertical-align: middle;
}
strong { font-weight: bold; }
em { font-style: italic; 
	font-size: 0.5em;}
a{
	text-decoration: none;
	color: inherit;
}