<section >
    <a href="/product/list  " class=" heading product-add-button">
        <h3>View list of all the products</h3>
        <span class="material-icons">
            visibility
        </span>
    </a>
    <div class="login-form">
    <img src="/img/fireworks.gif">
    <div class = "welcome">
    <h2>Welcome To Amazon </h2>
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    
    </div>
    
    
</section>