<h2 class="heading">Name of The Product</h2>
<section class="description-container">
    <img src="/img/camera.jpg">
    <article>
        <h2>Product Description</h2>
        <h3><b>Price: </b>Price from DB $</h3>
        <p>In Stock</p>
        <form>
            <label for="quantity">
                    Product Quantity
                </label>
                <div>
                    <input type="number" name="quantity" id="quantity" placeholder="Enter Qunatity" min = "1" value="{{value.quantity}}">
                </div>
                <div class="error-message">
                    {{errormessage.quantity}}
                </div>
                <input class="submit-button" type="Submit" value="Add to Cart">
        </form>
    </article>

</section>