<section>
    <h1 class="heading">Cart</h1>
    <div class="description-container">
        <img class="cart-image" src="">
        <article>
            <h4>Product name</h4>
            <h4>Description</h4>
            <h4>Product Price</h4>
            <h4>Quantity</h4>
        </article>
    </div>
    <h3 class="amount">Total Amount</h3>
    <form method="POST" action="/product/cart">
    <div class="amount"> 
        <button class = "order-button"type="submit">Place a Order</button>
    </div>
    </form>
</section>